VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=cert-validator-ff.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cert-validator-ff
VITE_FIREBASE_STORAGE_BUCKET=cert-validator-ff.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_API_BASE_URL=https://us-central1-cert-validator-ff.cloudfunctions.net/api
